<div class="l-wrapper">
  <div class="header">
	<div class="title"><%= @friend.username %></div>
	<div class="control"></div>
	<div class="back">
	  <%= link_to image_tag('back'), friends_path%>
	</div>
  </div>
  <div class="main">
	<% @events.each_with_index do |event, i| %>
	  <% if i == 0 %>
		<div class="l-row">
		  <div class="l-grid">
			<div class="place" style="background:url(<%= event.image_url%>); background-size:cover">
			  <div class="title"><%= event.name%></div>
			  <div class="circle_big">
				<div class="inner">
				  <%= event.count%>
				</div>
			  </div>
			  <%= link_to "", "/friends/#{@friend.username}/event/#{event.name}"%>
			</div>
		  </div>
		</div>
	  <% else %>
		<% if (i % 2) == 1 %>
		  <div class="l-row">
		<% end %>
		<div class="l-grid-1-2">
		  <div class="place"  style="background:url(<%= event.image_url%>); background-size: cover;">
			<div class="title"><%= event.name%></div>
			<div class="circle_small">
			  <div class="inner">
				<%= event.count %>
			  </div>
			</div>
			<%= link_to "", "/friends/#{@friend.username}/event/#{event.name}"%>
		  </div>
		</div>
		<% if(i % 2) == 0 && i != 0%>
		  </div>
		<% end %>
		<% if(i % 2) != 0 && @events.length == i+1 %>
  </div>
        <% end %>
	  <% end %>
	<% end %>
</div>
</div>
