<div class="l-wrapper">
  <div class="header">
	<div class="title"><%= @text %></div>
	<div class="control"></div>
	<div class="back">
	  <%= link_to image_tag('back'), :back%>
	</div>
  </div>
  <div class="main">
	<div class="info_box">
	  <a href="https://www.google.co.jp/search?q=<%=@text %>"><%= image_tag('cocoyan_search') %>『<%= @text %>』</a>
	</div>
	<% @event.tweets.each_with_index do |tweet, i| %>
	  <div class="tweet">
		<%= tweet.text %><br>
	  </div>
	<% end %>
	<% @photos.take(3).each_with_index do |photo, i| %>
	  <div class="l-row">
		<div class="l-grid">
		  <div class="rect_place" style="background:url(<%= photo %>); background-size: cover;">
		  </div>
		</div>
	  </div>
	<% end %>
	
  </div>
</div>
